# Sistema
Thumbs.db
Desktop.ini

# Dependencias
node_modules/

# Next.js
.next/
out/

# Prisma
prisma/dev.db

# Entornos
.venv/
venv/
env/

# Archivos temporales
*.log
*.tmp
*.bak
coverage/

# Configuracion local
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
.vercel
